.do-section {
	padding: 60px 0;
}


/******************* SEARCH ICON 23-06-2017*******************/

.inputbox {
	height: 20px;
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inputbox input {
	width: 100%;
	min-width: 0;
	box-sizing: border-box;
	font-size: 16px;
	padding: 1.5px 0;
	border: 0;
	background: none;
	width: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100%;
	transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
	transition-delay: 0s, 0.4s, 0s;
	box-shadow: 0 0 0 1px currentColor;
	color: inherit;
	cursor: pointer;
	padding: 1.5px 0;
	padding-right: 20px;
	font-weight: lighter;
	font-family: 'Roboto';
}

.inputbox input:focus,
.inputbox input:valid {
	width: 100%;
	transition-delay: 0.4s, 0s, 0.4s;
	outline: 0;
	border-radius: 0;
	cursor: text;
	padding-left: 1.5px;
}

.inputbox input:focus+.del,
.inputbox input:valid+.del {
	pointer-events: all;
	left: calc(100% - 10px);
	transition-delay: 0.4s;
}

.inputbox input:focus+.del:focus,
.inputbox input:valid+.del:focus {
	box-shadow: 0 0 0 1px currentColor;
	height: 30px;
	width: 15px;
}

.inputbox input:focus+.del:before,
.inputbox input:valid+.del:before {
	transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
	transition-delay: 0s;
}

.inputbox input:focus+.del:after,
.inputbox input:valid+.del:after {
	transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
	transition-delay: 0.2s;
}

.inputbox .del {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 20px;
	width: 20px;
	padding: 0;
	background: none;
	border-radius: 100%;
	border: 0;
	pointer-events: none;
	transition: left 0.4s ease-in-out;
	transition-delay: 0s;
	color: inherit;
	cursor: pointer;
}

.inputbox .del:focus {
	outline: none;
}

.inputbox .del:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: currentColor;
	width: 1px;
	height: 15px;
	transform: translate(13.5px, 13.5px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.6s;
}

.inputbox .del:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: currentColor;
	width: 1px;
	height: 15px;
	transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.4s;
}

.do-parallax-page-title-section {
	padding: 175px 0;
	position: relative;
	background: url(../images/custom-img-bg-2.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.do-parallax-page-title-section .do-page-title {
	display: block;
	z-index: 10;
	position: relative;
	text-align: center;
}

.do-parallax-page-title-section .do-page-title:after {
	content: '';
	width: 45px;
	height: 4px;
	margin: 0 auto;
	background-color: #f15c2b;
	display: block;
	margin-top: 20px;
}

.do-parallax-page-title-section .do-page-title h1 {
	font-size: 35px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 10px;
}

.do-parallax-page-title-section .do-page-title p {
	font-size: 15px;
	color: #c0c0c0;
	letter-spacing: 6px;
	margin-bottom: 0;
}


/********************************************************
*                                                       *
*                        MENU                           *
*                                                       *
*********************************************************/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        Menu (HOME ONE)
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.do-main-menu {
	margin-bottom: 0;
	min-height: 60px;
	border: 0px;
	padding: 5px 0;
	background-color: #fff;
	position: relative;
	z-index: 99;
	width: 100%;
}

.do-menu-wrapper {
	text-align: center;
	z-index: 10;
}

.do-main-menu>.container {
	position: relative;
}

.navbar-brand {
	padding: 15px 15px 15px 0;
}

.do-menu-wrapper ul.do-menus {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: none;
	margin-bottom: -5px;
	padding: 0 30px;
	height: 84px;
	position: relative;
}

ul.do-menus>li {
	padding: 32px 0px 0;
	margin-right: 40px;
}

#menu_container {
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

ul.do-menus li:last-child {
	margin-right: 0;
}

ul.do-menus li a {
	padding: 0;
	letter-spacing: 0.50px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

ul.do-menus li a:hover,
ul.do-menus li.active a {
	background-color: transparent;
	color: #f15c2b;
}

ul.do-menus li a:focus {
	background-color: transparent;
}

body.open,
body:after {
	overflow: hidden;
}

.b-nav,
body:after {
	position: fixed;
}

.b-brand,
.b-link {
	font-family: 'Roboto-Regular';
	font-size: 16px;
	color: #000 !important;
	margin-left: 30px;
	text-decoration: none
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
		visibility: visible
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
		visibility: visible
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	100% {
		-webkit-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
		visibility: hidden
	}
}

@keyframes slideOutLeft {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	100% {
		-webkit-transform: translate3d(-250px, 0, 0);
		transform: translate3d(-250px, 0, 0);
		visibility: hidden
	}
}

* {
	box-sizing: border-box
}

body:after {
	background: rgba(255, 255, 255, 0.96);
	content: '';
	height: 100vh;
	left: 0;
	opacity: 0;
	padding: 0;
	top: 0;
	visibility: hidden;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	width: 100%
}

body.open:after {
	opacity: 1;
	visibility: visible
}

.b-nav {
	z-index: 11
}

.b-nav:not(.open) {
	visibility: hidden
}

.b-nav li {
	color: #fff;
	list-style-type: none;
	padding: 10px;
	text-align: left;
	-webkit-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px)
}

.b-nav li:not(.open) {
	animation-duration: .4s;
	animation-fill-mode: both;
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft
}

.b-nav li:not(.open),
.b-nav.open li {
	-webkit-animation-duration: .4s;
	-webkit-animation-fill-mode: both
}

.b-nav li:first-child {
	padding-top: 100px
}

.b-nav.open {
	visibility: visible
}

.b-nav.open li {
	animation-duration: .4s;
	animation-fill-mode: both;
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft
}

.b-link {
	background: 0 0;
	border-left: rgba(255, 255, 255, 0)solid 2px;
	color: #fff;
	transition: all .4s ease;
	width: auto
}

.b-link,
.b-menu {
	-webkit-transition: all .4s ease
}

.b-link--active,
.b-link:hover {
	border-left: #000 solid 2px;
	padding-left: 30px
}

.b-menu {
	-moz-user-select: none;
	background: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: relative;
	transition: all 0.4s ease 0s;
	width: 30px;
	z-index: 12;
}

.b-bun--bottom,
.b-bun--mid,
.b-bun--top {
	height: 2px;
	width: 25px
}

.b-container.open .b-main,
.b-menu:hover {
	border: none;
}

.b-bun {
	background: #000;
	transition: all .4s ease
}

.b-brand,
.b-bun {
	position: relative;
	-webkit-transition: all .4s ease
}

.b-bun--top {
	top: 0
}

.b-bun--mid {
	top: 6px
}

.b-bun--bottom {
	top: 12px
}

.b-brand {
	color: #2196f3;
	top: -21.43px;
	transition: all .4s ease;
	z-index: 13
}

.b-container {
	height: 30px;
	left: 15px;
	position: absolute;
	top: 22px;
}

.b-container:hover:not(.open) .bun-bottom,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-top {
	background: #2196f3
}

.b-container.open .b-bun--top {
	background: #000;
	top: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.b-container.open .b-bun--mid {
	opacity: 0
}

.b-container.open .b-bun--bottom {
	background: #000;
	top: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.b-container.open .b-brand {
	color: #fff
}

.searchbox a i.fa {
	color: #000;
	font-size: 16px;
	font-weight: normal;
}

.search-form {
	position: relative;
}

div.slidingDiv {
	left: 0;
	margin: 18px 0 0;
	position: fixed;
	box-shadow: 1px 1px 2px #e1e0e0;
	width: 100%;
}

div.slidingDiv input {
	font-size: 17px;
	color: #000;
	text-align: center;
	width: 100%;
	height: 70px;
	border-radius: 0;
	border: 0;
	background-color: rgba(255, 255, 255, 0.96);
}


/*****************DROPDOWN MENU*****************/

.do-main-menu .navbar-nav li ul.sub-menu {
	float: left;
	list-style: none;
	margin: 0;
	padding: 30px 0;
	position: absolute;
	left: -20px;
	top: calc(100% + 28px);
	background: rgba(0, 0, 0, 0.81);
	min-width: 100px;
	opacity: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	visibility: hidden;
	z-index: 1000;
	-moz-transition: opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear, top 0.25s 0.1s ease-out;
	-webkit-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear, top 0.25s 0.1s ease-out;
	-o-transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear, top 0.25s 0.1s ease-out;
	transition: opacity 0.3s ease-out, visibility 0.1s 0.1s linear, top 0.25s 0.1s ease-out;
}

.do-main-menu .navbar-nav li ul.sub-menu li {
	display: block;
	clear: both;
	margin-top: 0px;
	text-align: left;
	position: relative;
}

.do-main-menu .navbar-nav li ul.sub-menu li a {
	font-size: 13px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
	padding: 7.5px 100px 7.5px 50px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	white-space: nowrap;
	clear: both;
	color: #888888;
	font-weight: 600;
}

.do-main-menu .navbar-nav li:hover ul.sub-menu li.has-menu:after {
	content: '\e649';
	font-family: 'themify';
	font-size: 10px;
	color: #888888;
	position: absolute;
	right: 20px;
	top: 15px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

.do-main-menu .navbar-nav li:hover ul.sub-menu li.has-menu:hover:after {
	color: #f15c2b;
}

.do-main-menu .navbar-nav li:hover ul.sub-menu {
	opacity: 1;
	visibility: visible;
	top: calc(100% + 5px);
}

.do-main-menu.minified .navbar-nav li:hover ul.sub-menu {
	top: 100%;
}

.do-main-menu .navbar-nav li ul.sub-menu li a:hover {
	color: #f15c2b;
}

.do-main-menu.minified {
	background-color: rgba(255, 255, 255, 0.97);
	padding: 0;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.hastopbar .do-main-menu.minified {
	background-color: rgba(255, 255, 255, 0.97);
	padding: 0;
	position: fixed;
	top: 0;
}


/**********SIDE MENU***********/

.do-side-menu-opener {
	position: absolute;
	right: 15px;
}

.do-side-menu-opener.no-animation {
	top: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.do-side-menu-button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	margin: auto;
	padding: 0;
	width: 13px;
	height: 15px;
	border: none;
	outline: 0;
	text-indent: 0;
	font-size: 0;
	color: transparent;
	background-color: transparent;
	border-top: 3px solid #e3e3e3;
}

.do-side-menu-button::before {
	position: absolute;
	top: 2px;
	left: 0;
	content: '';
	width: 100%;
	height: 3px;
	background-color: #e3e3e3;
}

.do-side-menu-button::after {
	position: absolute;
	left: 0;
	bottom: 2px;
	content: '';
	width: 100%;
	height: 3px;
	background-color: #e3e3e3;
}

.do-side-menu-button:hover {
	opacity: 0.6;
}

.do-side-menu-wrap {
	background: url(../images/menu-bg.jpg) no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: fixed;
	right: 0;
	z-index: 1001;
	width: 400px;
	height: 100%;
	font-size: 14px;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
	-ms-transition: -ms-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-side-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0s .4s, opacity 0.4s;
	-moz-transition: -moz-transform 0s .4s, opacity 0.4s;
	-ms-transition: -ms-transform 0s .4s, opacity 0.4s;
	-o-transition: -o-transform 0s .4s, opacity 0.4s;
	transition: transform 0s .4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-show-menu .do-side-menu-wrap {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform .8s;
	-moz-transition: -moz-transform .8s;
	-ms-transition: -ms-transform .8s;
	-o-transition: -o-transform .8s;
	transition: transform .8s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-show-menu .do-side-menu-overlay {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-ms-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-side-menu {
	background-color: transparent;
	width: 100%;
	height: 100%;
	padding: 130px 90px;
	position: relative;
	z-index: 1;
}

.do-side-menu-widget-wrap {
	width: 100%;
}

.do-side-menu-widget-wrap .do-side-menu-logo-wrap {
	height: 50px;
	position: absolute;
	top: 70px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.do-side-menu-widget-wrap .do-side-menu-logo-wrap img {
	max-height: 100%;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap {
	margin-top: 70px;
	height: 100%;
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: -webkit-transform 0s .4s;
	-moz-transition: -moz-transform 0s .4s;
	-ms-transition: -ms-transform 0s .4s;
	-o-transition: -o-transform 0s .4s;
	transition: transform 0s .4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul {}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li {
	margin-bottom: 15px;
	overflow: hidden;
	-webkit-transform: translate3d(0, 500px, 0);
	-moz-transform: translate3d(0, 500px, 0);
	-ms-transform: translate3d(0, 500px, 0);
	-o-transform: translate3d(0, 500px, 0);
	transform: translate3d(0, 500px, 0);
	-webkit-transition: -webkit-transform 0s .4s;
	-moz-transition: -moz-transform 0s .4s;
	-ms-transition: -ms-transform 0s .4s;
	-o-transition: -o-transform 0s .4s;
	transition: transform 0s .4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li:nth-child(n+1) {
	-webkit-transform: translate3d(0, 1000px, 0);
	-moz-transform: translate3d(0, 1000px, 0);
	-ms-transform: translate3d(0, 1000px, 0);
	-o-transform: translate3d(0, 1000px, 0);
	transform: translate3d(0, 1000px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li:nth-child(n+2) {
	-webkit-transform: translate3d(0, 1500px, 0);
	-moz-transform: translate3d(0, 1500px, 0);
	-ms-transform: translate3d(0, 1500px, 0);
	-o-transform: translate3d(0, 1500px, 0);
	transform: translate3d(0, 1500px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li:nth-child(n+3) {
	-webkit-transform: translate3d(0, 2000px, 0);
	-moz-transform: translate3d(0, 2000px, 0);
	-ms-transform: translate3d(0, 2000px, 0);
	-o-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li:nth-child(n+4) {
	-webkit-transform: translate3d(0, 2500px, 0);
	-moz-transform: translate3d(0, 2500px, 0);
	-ms-transform: translate3d(0, 2500px, 0);
	-o-transform: translate3d(0, 2500px, 0);
	transform: translate3d(0, 2500px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li:nth-child(n+5) {
	-webkit-transform: translate3d(0, 3000px, 0);
	-moz-transform: translate3d(0, 3000px, 0);
	-ms-transform: translate3d(0, 3000px, 0);
	-o-transform: translate3d(0, 3000px, 0);
	transform: translate3d(0, 3000px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li:nth-child(n+6) {
	-webkit-transform: translate3d(0, 3500px, 0);
	-moz-transform: translate3d(0, 3500px, 0);
	-ms-transform: translate3d(0, 3500px, 0);
	-o-transform: translate3d(0, 3500px, 0);
	transform: translate3d(0, 3500px, 0);
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li:last-child {
	margin-bottom: 0;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li a {
	font-family: 'OpenSans';
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	display: inline-block;
	letter-spacing: 1px;
	*display: inline;
	*zoom: 1;
	-webkit-transition: color .35s;
	-moz-transition: color .35s;
	-ms-transition: color .35s;
	-o-transition: color .35s;
	transition: color .35s;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li ul {
	opacity: 0;
	margin-top: -20px;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	-ms-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li ul li a {
	font-family: 'OpenSans';
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	text-transform: inherit;
	padding: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li a:hover {
	color: #f15c2b;
}

.do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li:hover ul {
	opacity: 1;
	margin-top: 10px;
}

.do-show-menu .do-side-menu-widget-wrap .do-side-menu-menu-wrap,
.do-show-menu .do-side-menu-widget-wrap .do-side-menu-menu-wrap ul>li {
	-webkit-transition: -webkit-transform .8s;
	-moz-transition: -moz-transform .8s;
	-ms-transition: -ms-transform .8s;
	-o-transition: -o-transform .8s;
	transition: transform .8s;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.do-side-menu-widget-wrap .do-side-menu-social-icon {
	position: absolute;
	bottom: 100px;
}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul li {
	float: left;
	margin-right: 20px;
}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul li:last-child {
	margin-right: 0;
}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul li a {}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul li a i {
	font-size: 14px;
	color: #ffffff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.do-side-menu-widget-wrap .do-side-menu-social-icon ul li a:hover i {
	color: #f15c2b;
}


/********************************************************
*                                                       *
*                   HOME PAGE (ONE)                     *
*                                                       *
*********************************************************/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        Slider
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.do-main-slider {
	overflow: hidden;
}

.do-main-slider h1.do-slider-text-big {
	font-family: 'OpenSans';
	font-size: 50px;
	font-weight: 700;
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
}

.do-main-slider h1.do-slider-2nd-text {
	font-size: 33px;
	font-weight: 700;
}

.do-main-slider p.do-slider-text-small {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #888888;
	letter-spacing: 8px;
	margin-top: 0;
	margin-bottom: 0;
}

.do-main-slider p.do-slider-text-small .do-color-text {
	color: #f15c2b;
	font-size: 17px;
}

.sp-arrows {
	position: absolute;
}

.sp-fade-arrows {
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.sp-horizontal .sp-arrows {
	width: 100%;
	left: 0;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sp-arrow {
	position: absolute;
	height: 100%;
	width: 35px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
}

.sp-previous-arrow {
	left: -100%;
}

.sp-next-arrow {
	right: -100%;
}

.sp-slides-container:hover .sp-previous-arrow {
	left: 0;
}

.sp-slides-container:hover .sp-next-arrow {
	right: 0;
}

.sp-previous-arrow:before,
.sp-next-arrow:before {
	content: '';
	position: relative;
	display: block;
	width: 35px;
	height: 100px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
}

.sp-previous-arrow:before {
	content: '\e686';
	font-family: 'Pe-icon-7-stroke';
	font-size: 36px;
	color: #ffffff;
	line-height: 100px;
	z-index: 1;
}

.sp-next-arrow:before {
	content: '\e684';
	font-family: 'Pe-icon-7-stroke';
	font-size: 36px;
	color: #ffffff;
	line-height: 100px;
	z-index: 1;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        logo hover effect
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.carddiv {
	width: 200px;
	height: 150px;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-webkit-transform-origin: 100% 75px;
	-webkit-transition: all 0.7s ease;
	transform-style: preserve-3d;
	transform-origin: 100% 75px;
	transition: all 0.7s ease;
}

.do-side-menu-logo-wrap:hover .carddiv {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.frontofcard,
.backofcard {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.backofcard {
	padding-top: 5px;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.logo-box {
	position: relative;
	overflow: hidden;
	width: 205px;
	height: 84px;
}

.logo-box .textbox {
	position: absolute;
	top: 3px;
	left: 0;
	width: 205px;
	height: 52px;
	margin-left: -210px;
}

.logo-box .textbox-fix {
	position: absolute;
	top: 5px;
	left: 0;
	width: 205px;
	height: 52px;
}

.logo-box:hover .textbox {
	margin-left: 0;
}

.logo-box .frontofcard1 {
	margin-left: 0;
	padding-top: 10px;
	display: block;
}

.logo-box:hover .frontofcard1 {
	margin-left: 210px;
}

.text {
	padding-top: 10px;
}

.logo-box .frontofcard1,
.textbox {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}


/************************** Media *********************/


/* view 1024  */

@media screen and (max-width:1279px) {
	ul.do-menus>li {
		padding: 32px 0px 0;
		margin-right: 24px !important;
	}
	.do-menu-wrapper ul.do-menus {
		margin-right: -5%;
	}
}


/* view 768  */

@media screen and (max-width:1023px) {
	.do-menu-wrapper ul.do-menus {
		margin-right: 0;
	}
	ul.do-menus>li {
		margin-right: 15px;
	}
	ul.do-menus li a {
		font-size: 13px;
	}
	#menu_container {
		border-left:none !important;
		border-right:none !important;
	}
	#menu_container.nav.navbar-nav.do-menus {
		padding:0 10px !important;
	}
	
	#menu-primary-navigation {
		margin-left:-30px !important;
	}
}


/* view 480  */

@media screen and (max-width:767px) {
	.logo-box {
		width: 220px;
	}
	.logo-box .textbox-fix {
		left: 12px;
	}
	.design-content .col-md-6.col-sm-6.col-xs-12.text-left {
		text-align: center !important;
	}
	.do-side-menu-opener.no-animation {
		top: 16px;
		right: 15px;
	}
	.logo-box {
		position: absolute;
		text-align: center;
		width: 100%;
	}
	.logo-box .textbox-fix {
		top: 6px;
		left: auto;
		position: relative;
	}
	.navbar.do-main-menu.minified .navbar-toggle {
		padding: 15px 10px 10px;
		z-index: 99;
	}
}
