@media only screen and (min-width:992px) and (max-width:1024px) {
    /*10-1-2018 rinkal css start for Homepage responsive */
    ul.do-menus > li {
        padding: 32px 0;
    }
    .sub-menu {
        width: 82.3% !important;
    }
    .section_right {
        padding: 0px 20px !important;
    }
    #professional .title_block {
        position: relative;
    }
    .service_container.title_block .title_block {
        transform: translateX(-50%) translateY(0);
    }
    .title_block {
        padding: 29px 0px;
    }
    .section_left img {
        width: 33%;
        left: 0;
    }
    .corporate-det .content-box {
        padding: 56.9px 50px;
    }
    .corporate-det .content-box p {
        font-size: 14px;
    }
    /*10-1-2018 rinkal css end for Homepage responsive */
    /*23-1-2018 rinkal css start for Homepage responsive */
    .owl-item .author_content {
        width: 75%;
    }
    /*    a.corporate-link{left: 30%;}*/
    /*23-1-2018 rinkal css end for Homepage responsive */
    /*24-1-2018 rinkal css start  responsive */
    .sub-menu li{width:249px; }
    .owl-carousel .owl-stage{margin: 20px;}
    .section_left{left: 0;}
    .banner_text{width: 98% !important;}
/*    .do-main-menu.minified{width: 86%;}*/
    /*24-1-2018 rinkal css end responsive */
     .service-link{right: 12px;}
    .service-wealth-link{left: 12px;}
    
}

@media only screen and (min-width:768px) and (max-width:991px) {
    /************************************************************************** # HOME PAGE #**************************************************************************/
    .do-main-menu.minified .navbar-nav li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    .do-side-menu-button {
        right: 20px;
    }
    .do-work-item {
        height: 200px;
        overflow: hidden;
        width: 33.333%;
    }
    /*10-1-2018 rinkal css start for Homepage responsive */
    .do-main-menu.minified {
        width: 90%;
        margin-top: 0px;
    }
    div.slidingDiv {
        width: 90%;
    }
    .b-nav {
        padding-top: 100px;
        background-color: #fff;
        height: 100%;
        width: 100%;
        z-index: 2;
        padding-left: 50px;
    }
    .b-nav li:first-child {
        padding-top: 0px;
    }
    .service_container.title_block {
        margin: 0 auto;
    }
    .main-service .col-sm-3.service_container:nth-child(2n) {
        margin-top: 0;
    }
    footer .textwidget .col-md-6 {
        padding-left: 0px;
    }
    .overlay2 .container .overlay-content2,
    .form {
        display: block;
    }
    .submit_btn_apply input[type="submit"] {
        margin-left: 0px;
    }
    .s_form_group_apply label {
        text-align: left;
    }
    .sub-menu {
        position: relative;
        visibility: visible;
        background: none;
        top: 0;
        width: 100%;
        padding: 0px;
        display: block;
        opacity: 1;
    }
    .btn_container #apply_btn {
        z-index: 2;
    }
    .sub-menu li {
        width: 100%;
        height: auto;
        padding: 0px;
        background: none;
    }
    .sub-menu li a,
    li.menu-item a {
        color: #337ab7 !important;
        font-size: 19px;
        padding: 10px 0px;
    }
    .sub-menu li a {
        font-size: 16px !important;
        position: relative;
    }
    .sub-menu li a:hover,
    li.menu-item a:hover {
        font-weight: bold;
    }
    .latest_news .left {
        z-index: 1;
    }
    #professional .title_block {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .service_container.title_block .title_block {
        transform: translateX(-50%) translateY(0);
    }
    #banner {
        height: 350px !important;
    }
    .banner_text {
        top: 33% !important;
    }
    .tabbable-line ul.nav li a {
        font-size: 14px;
    }
    #partner .col-md-12 {
        clear: both;
    }
    .partner_image {
        display: inline-block;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 70%;
    }
    .testimonial-masonry .grid-item {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .col-md-4.animate {
        width: 100%;
    }
    .author_content {
        float: right;
        width: 85%;
    }
    .author_designation {
        margin: 0px;
    }
    .contact-address {
        padding-top: 30px;
    }
    .contact-number {
        position: relative;
    }
    #menu_container.nav.navbar-nav.do-menus {
        display: none
    }
    .logo-box .textbox-fix {
        left: 10%;
    }
    .logo-box {
        position: inherit;
        overflow: visible;
        /*    width: 100%;*/
        height: auto;
    }
    #event-news-list .list-box .overlay-text {
        height: 25%;
    }
    .insurance-title,
    .service-link,
    .service-wealth-link {
        font-size: 14px;
    }
    .adderess-box {
        margin-bottom: 45px;
    }
    .news-box .content-box {
        position: absolute;
        padding: 0px 0px 30px;
        top: 40% !important;
        transform: translateY(-50%);
    }
    .black-line3,
    .black-line2,
    .black-line1,
    .black-line4 {
        border: 1px solid #000;
        width: 87px;
        height: 2px;
        position: absolute;
        top: 10%;
        right: -11%;
        z-index: 1;
        left: auto;
    }
    /*10-1-2018 rinkal css end for Homepage responsive */
    /*23-1-2018 rinkal css start for Homepage responsive */
    a.corporate-link {
        left: 30%;
    }
    /*23-1-2018 rinkal css end for Homepage responsive */
    /*24-1-2018 rinkal css start responsive */
    .overlay-content2 {
        padding-top: 50px;
    }
    .service-link {
        right: 9px;
        height: 57px;
        width: 300px;
    }
    .service-wealth-link {
        left: 9px;
        height: 57px;
        width: 300px;
    }
    #banner.about-us-banner .banner_text p {
        font-size: 15px;
    }
    .banner_text {
        top: 20% !important;
    }
    .top-right{right: 0px;}
    .detail{padding: 20px 50px 10px 15px;}
/*    .b-nav li{padding: 15px 10px;}*/
    /*24-1-2018 rinkal css end responsive */
}

@media only screen and (max-width:767px) {
    /************************************************************************** # HOME PAGE (ONE) #**************************************************************************/
    .navbar-header {
        position: relative;
    }
    .navbar-brand {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    .navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: 10px;
    }
    .navbar-toggle .icon-bar {
        background-color: #fc7f0c;
        border-radius: 1px;
        display: block;
        height: 3px;
        width: 13px;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 3px;
    }
    .navbar-collapse {
        max-height: none;
    }
    .do-menu-wrapper ul.do-menus {
        display: block;
        float: none;
        margin-bottom: 0;
    }
    ul.do-menus > li {
        border-top: 1px solid #f15c2b;
        margin: 0 0 0 15px;
        padding: 10px 15px;
        text-align: left;
    }
    ul.do-menus > li a {
        display: inline-block;
    }
    .do-main-menu .navbar-nav li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu {
        background-color: transparent;
        display: block;
        float: none;
        padding: 5px 0 0 15px;
        position: static;
        opacity: 1;
        visibility: visible;
    }
    .do-main-menu .navbar-nav li ul.sub-menu::before,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu:before {
        background: transparent;
    }
    .do-main-menu .navbar-nav li ul.sub-menu li,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li {
        display: block;
        clear: both;
        margin-top: 0;
        padding: 0px 0px;
    }
    .do-main-menu .navbar-nav li ul.sub-menu li a,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li a {
        color: #b1b1b1;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        white-space: pre-wrap;
        clear: both;
    }
    .do-main-menu .navbar-nav li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
    }
    .do-main-menu .navbar-nav li:hover ul.sub-menu li.do-homepage-2nd header .do-main-menu .navbar-nav li:hover ul.sub-menu li {
        margin-top: 0;
        opacity: 1;
    }
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu,
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li ul.sub-menu {
        display: block;
        float: none;
        position: relative;
        padding: 0 0 0 15px;
        background: transparent;
        min-width: 100px;
        opacity: 1;
        left: auto;
        visibility: visible;
    }
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li {
        padding: 5px 0 0 0;
    }
    .do-main-menu .navbar-nav li ul.sub-menu li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li:hover ul.sub-menu,
    .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li:hover ul.sub-menu,
    .do-homepage-2nd header .do-main-menu .navbar-nav li ul.sub-menu li ul.sub-menu li:hover ul.sub-menu {
        left: auto;
    }
    .do-side-menu-opener {
        position: absolute;
        top: 18px;
        right: 0;
    }
    .do-side-menu-button {
        padding: 0;
        position: absolute;
        right: 20px;
        text-indent: 0;
        top: 0;
        width: 13px;
        z-index: 1000;
    }
    .do-side-menu-wrap {
        width: 90%;
    }
    .do-side-menu {
        padding: 50px 30px;
    }
    .do-side-menu-widget-wrap .do-side-menu-logo-wrap {
        top: 30px;
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap {
        height: 325px;
        margin-top: 50px;
        overflow-y: scroll;
        transform: translate3d(0px, 100%, 0px);
        transition: transform 0s cubic-bezier(0.7, 0, 0.3, 1) 0.4s;
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li ul {
        opacity: 1;
        margin-top: 10px;
        padding-left: 15px;
    }
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap ul li:hover ul {
        opacity: 1;
        margin-top: 10px;
    }
    .do-side-menu-widget-wrap .do-side-menu-social-icon {
        bottom: 20px;
    }
    .do-side-menu-close-button {
        right: 20px;
        top: 40px;
    }
    /*9-1-2018 rinkal css start for Homepage responsive */
    .do-main-menu.minified {
        /*        width: 100%;*/
        margin-top: 0px;
    }
    div.slidingDiv {
        width: 90%;
    }
    .b-nav {
        margin-top: 69px;
        background-color: #fff;
        height: 100%;
        width: 100%;
        z-index: 2;
        overflow: auto;
        padding-bottom: 20px;
    }
    .b-nav li:first-child {
        padding-top: 0px;
    }
    .service_container.title_block {
        margin: 0 auto;
    }
    .main-service .col-sm-3.service_container:nth-child(2n) {
        margin-top: 0;
    }
    footer .textwidget .col-md-6 {
        padding-left: 0px;
    }
    /*9-1-2018 rinkal css end for Homepage responsive */
    /*10-1-2018 rinkal css start for Homepage responsive */
    .overlay2 .container .overlay-content2,
    .form {
        display: block;
    }
    .submit_btn_apply input[type="submit"] {
        margin-left: 0px;
    }
    .s_form_group_apply label {
        text-align: left;
    }
    .sub-menu {
        position: relative;
        visibility: visible;
        background: none;
        top: 0;
        width: 100%;
        padding: 0px;
        display: block;
        opacity: 1;
    }
    .btn_container #apply_btn {
        z-index: 2;
    }
    .sub-menu li {
        width: 100%;
        height: auto;
        padding: 0px;
        background: none;
    }
    .sub-menu li a,
    li.menu-item a {
        color: #337ab7 !important;
        font-size: 19px;
    }
    .sub-menu li a {
        font-size: 16px !important
    }
    .sub-menu li a:hover,
    li.menu-item a:hover {
        font-weight: bold;
    }
    .latest_news .left {
        z-index: 1;
    }
    #professional .title_block {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .service_container.title_block .title_block {
        transform: translateX(-50%) translateY(0);
    }
    .tabbable-line > .nav-tabs > li {
        width: 100%;
    }
    .team-details .odd,
    .team-details .even {
        display: block;
    }
    .content-box {
        margin-top: 15px;
    }
    /*10-1-2018 rinkal css end for Homepage responsive */
    /*11-1-2018 rinkal css estartnd for Homepage responsive */
    .news-box .content-box {
        position: relative;
        padding: 30px 0px 60px;
        height: auto;
    }
    .black-line3,
    .black-line2,
    .black-line1,
    .black-line4 {
        border: 1px solid #000;
        width: 2px;
        height: 87px;
        position: absolute;
        top: 88%;
        right: 10%;
        z-index: 1;
        left: auto;
    }
    #event-news .content-box p {
        margin-bottom: 15px;
    }
    .news-box .time-date-box {
        margin-left: 0px;
        padding-left: 30px;
    }
    .col-md-4.animate {
        width: 100%;
    }
    .author_content {
        float: right;
        width: 70%;
        padding: 10px;
    }
    .author_designation {
        margin: 0px;
    }
    .contact-address {
        padding-top: 30px;
    }
    .contact-number {
        position: relative;
    }
    #menu_container.nav.navbar-nav.do-menus {
        display: none;
    }
    .logo-box .textbox-fix {
        left: 10%;
    }
    .news-box .img-box {
        margin-bottom: 0px;
        max-height: 210px;
    }
    .img-box,
    .service-main {
        margin-bottom: 30px;
        text-align: center;
    }
    .insurance-title,
    .service-link,
    .service-wealth-link {
        font-size: 14px;
    }
    .gallery-item {
        position: relative !important;
        top: 10px!important;
    }
    .adderess-box {
        margin-bottom: 45px;
    }
    /*11-1-2018 rinkal css end for Homepage responsive */
    /*23-1-2018 rinkal css start for Homepage responsive */
    .owl-item .author_content {
        width: 70%;
    }
    .service-link {
        position: absolute;
        bottom: 40px;
        right: 8px;
        background-color: rgba(13, 117, 173, 0.85);
        height: 58px;
        width: 267px;
        color: #ffffff;
        text-align: left;
        padding: 20px 30px;
    }
    .service-wealth-link {
        position: absolute;
        bottom: 40px;
        left: 8px;
        background-color: rgba(13, 117, 173, 0.85);
        height: 58px;
        width: 267px;
        color: #ffffff;
        text-align: left;
        padding: 20px 30px;
    }
    .ui-tabs .ui-tabs-nav li a {
        width: 98%;
    }
    .ui-state-active .tab_one a::after {
        left: 98%;
    }
    .ui-tabs .ui-tabs-panel {
        margin-top: 30px;
    }
    .top-right {
        right: 0;
    }
    .detail {
        padding: 20px 50px 11px 15px;
    }
    .term-11 #event-news-list .list-box .col-md-3.col-xs-12.col-sm-6 {
        width: 100%;
    }
    #banner.about-us-banner .banner_text p {
        font-size: 15px;
    }
    .menu-primary-menu-container {
        margin-left: 60px;
    }
    
    .about_us_top_text .title_block {
        margin-bottom: 0px;
    }
    #newsevent-detail .detail {
        right: 0;
    }
    #newsevent-detail .img-box {
        max-height: 200px;
    }
    .about_us_top_text {
        margin: 30px 0px;
    }
    /*23-1-2018 rinkal css end for Homepage responsive */
    /*24-1-2018 rinkal css start responsive */
    .overlay-content2 {
        padding-top: 30px;
        padding-left: 30px;
    }
    .corporate-det .content-box{margin-top: 0px !important;}
    .corporate-det .img-box{margin-bottom: 0px !important;}
    /*24-1-2018 rinkal css end responsive */
    /*25-1-2018 rinkal css start responsive */
    #event-news-list .list-box .overlay-text{height: 25%;}
    .corporate-det .img-box{text-align: center;}
    .corporate-det .col-md-6.col-sm-12.pull-right, .corporate-det .col-md-6.col-sm-12.pull-left{float: none;text-align: center;width: 100%;margin: 0 auto;}
/*    #testimonial.about_us_top_text{padding: 0px 15px;}*/
    /*25-1-2018 rinkal css end responsive */
}

@media only screen and (min-width:480px) and (max-width:767px) {
    /**********SIDE MENU**********/
    .do-side-menu-widget-wrap .do-side-menu-menu-wrap {
        height: 165px;
    }
    /************************************************************************** # HOME PAGE (four) #**************************************************************************/
    .do-header-topbar .do-topbar-content-wrap {
        display: block;
        float: none;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .do-header-topbar .do-topbar-content-wrap.do-topbar-content-left ul {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    .do-portfolio-square .do-work-item {
        height: 220px;
        overflow: hidden;
        width: 50%;
    }
 .tabbable-line>.nav-tabs>li{width: 20%;}
    .tabbable-line>.nav-tabs>li>a{font-size: 15px;}
    .sub-menu li a {
    font-size: 13px !important;
}
    .sub-menu li a, li.menu-item a {
    color: #337ab7 !important;
    font-size: 15px;
}
    .b-nav{height: 110vh;}
    .b-nav li{padding: 3px;}
    .b-nav li:first-child{margin-bottom: 7px;}
    .service-link{right: 40px;}
    .service-wealth-link{left: 40px;}
    .your-message textarea{max-height: 40px;}
    .sub-menu li{margin: 3px !important;}
}
